<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body bgcolor="aqua" style="text-align: center;">
    <h2>Register</h2>
    <form action="/save" method="post" th:object="${user}">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" th:field="*{name}" required><br><br>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" th:field="*{password}" required><br><br>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}" required><br><br>
        </div>
        <div>
            <label for="country">Country:</label>
            <input type="text" id="country" th:field="*{country}" required><br><br>
        </div>
        <div>
            <label for="gender">Gender:</label>
            <input type="text" id="gender" th:field="*{gender}" required><br><br>
        </div>
        <button type="submit">Register</button>
    </form>
</body>
</html>